openapi: 3.0.3
info:
  title: Lease Sentry API
  version: 1.0.0
  description: API for Lease Sentry application
servers:
  - url: https://api.lease-sentry.com
    description: Production server
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Subscription:
      type: object
      required:
        - subscription
      properties:
        userId:
          type: string
          description: Unique OAuth ID of the user (derived from JWT token, not provided in request)
          readOnly: true
        subscription:
          type: string
          enum: [free, starter, pro]
          description: Subscription type
    Profile:
      type: object
      required:
        - email
      properties:
        id:
          type: string
          description: Unique ID of the profile
        userId:
          type: string
          description: Unique OAuth ID of the user (derived from JWT token, not provided in request)
          readOnly: true
        firstName:
          type: string
        lastName:
          type: string
        state:
          type: string
        email:
          type: string
          format: email
          description: Valid email format
    Support:
      type: object
      required:
        - email
        - subject
        - comment
      properties:
        userId:
          type: string
          description: Unique OAuth ID of the user (optional)
        email:
          type: string
          format: email
          description: Valid email format
        subject:
          type: string
        comment:
          type: string
    Review:
      type: object
      required:
        - email
        - rating
      properties:
        userId:
          type: string
          description: Unique OAuth ID of the user (optional)
        email:
          type: string
          format: email
          description: Valid email format
        rating:
          type: integer
          minimum: 1
          maximum: 5
          description: Rating from 1 to 5
        comment:
          type: string
          maxLength: 1000
          description: Optional comment less than 1000 characters
    Contract:
      type: object
      required:
        - upload
        - status
      properties:
        id:
          type: string
          description: Unique ID of the contract
        userId:
          type: string
          description: Unique OAuth ID of the user (derived from JWT token, not provided in request)
          readOnly: true
        score:
          type: integer
          minimum: 1
          maximum: 100
          description: Optional score from 1 to 100
        upload:
          type: string
          format: date-time
          description: Upload datetime
        status:
          type: string
          enum: [processing, processed]
          description: Processing status
        storage:
          type: string
          description: File location in blob storage
        rag:
          type: string
          description: AI search location
    Error:
      type: object
      properties:
        error:
          type: string
paths:
  /subscription:
    post:
      summary: Create a subscription
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Subscription'
      responses:
        '201':
          description: Subscription created
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: Get current user subscription
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Subscription retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '401':
          description: Unauthorized
        '404':
          description: Not found
    put:
      summary: Update a subscription
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Subscription'
      responses:
        '200':
          description: Subscription updated
        '400':
          description: Bad request
        '401':
          description: Unauthorized
    delete:
      summary: Delete a subscription
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Subscription deleted
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /profile:
    get:
      summary: Get user profile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Profile retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '401':
          description: Unauthorized
        '404':
          description: Not found
    put:
      summary: Update user profile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Profile'
      responses:
        '200':
          description: Profile updated
        '400':
          description: Bad request
        '401':
          description: Unauthorized
  /support:
    post:
      summary: Submit support request
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Support'
      responses:
        '201':
          description: Support request submitted
        '400':
          description: Bad request
  /review:
    post:
      summary: Submit a review
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Review'
      responses:
        '201':
          description: Review submitted
        '400':
          description: Bad request
        '401':
          description: Unauthorized
  /contract:
    post:
      summary: Create a contract
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contract'
      responses:
        '201':
          description: Contract created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
    get:
      summary: Get contracts
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
          description: Page number for paging
        - name: size
          in: query
          schema:
            type: integer
          description: Page size
        - name: sort
          in: query
          schema:
            type: string
          description: Sort field
        - name: filter
          in: query
          schema:
            type: string
          description: Filter criteria
      responses:
        '200':
          description: Contracts retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Contract'
        '401':
          description: Unauthorized
  /contract/recent:
    get:
      summary: Get recent contracts
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Recent contracts retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Contract'
        '401':
          description: Unauthorized
  /contract/{id}:
    get:
      summary: Get a specific contract
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Contract ID
      responses:
        '200':
          description: Contract retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
        '401':
          description: Unauthorized
        '404':
          description: Not found
    delete:
      summary: Delete a specific contract
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Contract ID
      responses:
        '204':
          description: Contract deleted
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /checkoutsession:
    post:
      summary: Create a Stripe checkout session
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sessionId:
                  type: string
                  description: Session identifier
      responses:
        '200':
          description: Checkout session created
          content:
            application/json:
              schema:
                type: object
                properties:
                  clientSecret:
                    type: string
                    description: Stripe client secret
        '400':
          description: Bad request
        '401':
          description: Unauthorized