version: '3.8'

services:
  lease-sentry-webservice:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:3000"
    environment:
      - NODE_ENV=production
    env_file:
      - .env.production
    restart: unless-stopped
    networks:
      - lease-sentry-prod-network

networks:
  lease-sentry-prod-network:
    driver: bridge
