version: '3.8'

services:
  lease-sentry-webservice-test:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3001:3000"
    environment:
      - NODE_ENV=test
    env_file:
      - .env.test
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - cosmosdb-emulator-test
    networks:
      - lease-sentry-test-network

  cosmosdb-emulator-test:
    image: mcr.microsoft.com/cosmosdb/linux/azure-cosmos-emulator:latest
    ports:
      - "8082:8081"
      - "10255:10250"
      - "10256:10251"
      - "10257:10252"
      - "10258:10253"
      - "10259:10254"
      - "10260:10255"
    environment:
      - AZURE_COSMOS_EMULATOR_PARTITION_COUNT=5
      - AZURE_COSMOS_EMULATOR_ENABLE_DATA_PERSISTENCE=false
    networks:
      - lease-sentry-test-network

volumes:
  cosmosdb-test-data:


networks:
  lease-sentry-test-network:
    driver: bridge
